.tiptap.ProseMirror {
  [data-pdf-wrapper] {
    margin: 2rem 0;
    outline: 0.125rem solid transparent;
    border-radius: var(--tt-radius-xs, 0.25rem);
    overflow: hidden;
  }

  [data-pdf-wrapper].ProseMirror-selectednode {
    outline-color: var(--tt-brand-color-500);
  }

  iframe[data-pdf] {
    width: 100%;
    min-height: 500px;
    display: block;
    border: 0;
    background: white;
  }

  p > [data-pdf-wrapper] {
    display: inline-block;
    width: 100%;
  }

  .tiptap-thread:has(> [data-pdf-wrapper]) {
    margin: 2rem 0;

    [data-pdf-wrapper] {
      outline: 0.125rem solid transparent;
      border-radius: var(--tt-radius-xs, 0.25rem);
      overflow: hidden;
    }
  }

  .tiptap-thread [data-pdf-wrapper] {
    margin: 0;
  }
}
