.tiptap.ProseMirror {
  [data-video-wrapper] {
    margin: 2rem 0;
    outline: 0.125rem solid transparent;
    border-radius: var(--tt-radius-xs, 0.25rem);
    overflow: hidden;
    background: #000;
  }

  [data-video-wrapper].ProseMirror-selectednode {
    outline-color: var(--tt-brand-color-500);
  }

  video[data-video] {
    width: 100%;
    max-width: 100%;
    display: block;
    background: #000;
  }

  p > [data-video-wrapper] {
    display: inline-block;
    width: 100%;
  }

  .tiptap-thread:has(> [data-video-wrapper]) {
    margin: 2rem 0;

    [data-video-wrapper] {
      outline: 0.125rem solid transparent;
      border-radius: var(--tt-radius-xs, 0.25rem);
      overflow: hidden;
    }
  }

  .tiptap-thread [data-video-wrapper] {
    margin: 0;
  }
}
