.tiptap.ProseMirror {
  [data-audio-wrapper] {
    margin: 2rem 0;
    outline: 0.125rem solid transparent;
    border-radius: var(--tt-radius-xs, 0.25rem);
    overflow: hidden;
    padding: 0.75rem 1rem;
  }

  [data-audio-wrapper].ProseMirror-selectednode {
    outline-color: var(--tt-brand-color-500);
  }

  audio[data-audio] {
    width: 100%;
    display: block;
  }

  p > [data-audio-wrapper] {
    display: inline-block;
    width: 100%;
  }

  .tiptap-thread:has(> [data-audio-wrapper]) {
    margin: 2rem 0;

    [data-audio-wrapper] {
      outline: 0.125rem solid transparent;
      border-radius: var(--tt-radius-xs, 0.25rem);
      overflow: hidden;
    }
  }

  .tiptap-thread [data-audio-wrapper] {
    margin: 0;
  }
}
